.header {
        //vertical-align: middle;
        font-size: 50px !important;
        font-weight: bold;
    
    }

.align-center{
    text-align: center;
}

.margin-bottom{
margin-bottom: 50px;
}

.margin-top{
margin-top: 80px;
}

wrap-text{
    word-wrap: break-word;
}